<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col md-3">
            <h1>Contact List</h1>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i>Add a contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-1">Contact Name:</th>
                    <th class="text-center col-2">Contact Number:</th>
                    <th class="text-center col-3">Email:</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for (let count = 0; count < ContactList.length; count++){ %>
                    <tr>
                        <td class="text-center col-4"><%= ContactList[count].name %></td>
                        <td class="text-center col-4"><%= ContactList[count].number %></td>
                        <td class="text-center col-4"><%= ContactList[count].email %></td>
                        <td class="text-center col-1">
                            <a href="/book-list/edit/<&= ContactList[count]._id %>" class="btn btn-primary btn-xs">
                            <i class="fas fa-pencil alt"></i>Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/book-list/delete/<&= ContactList[count]._id %>" class="btn btn-danger btn-xs">
                            <i class="fas fa-trash alt"></i>Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>