<!-- File Name: Assignment 2: Express Portfolio
Student Name: Steven Chen
Student Number: 301159710
Date: May 31, 2021 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Assignment 2: Express Portfolio - Authentication</title>

		<link rel="stylesheet" href="stylesheets/style.css">
		<!-- CSS twitter bootstrap 5.0 -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</head>
	<body class="container">
		<header>
			<!-- creates navigation bar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"> <img src="images/logo.png" /> </a>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About Me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact Me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
				</ul>
			</nav>
		</header>
