
<!-- Homepage content -->
<main>
	<div class="jumbotron">
		<h1 class="page-title">Welcome</h1>
		<p>Welcome to my Portfolio!</p>
		<p>This is the homepage of my first assignment for comp 229!</p>
		<p>
			To navigate through the site, the navigation above will be able to redirect you to any specific infomation that you are looking for.
		</p>
	</div>
	<div class="jumbotron">
		<h2 class="page-title">Mission Statement</h1>
			<p>
				This project's mission is to create a website that is run entirely through a server using express and EJS. If you can see this, that means my mission is complete!
			</p>
	</div>
</main>
