<!-- login content -->
<main>
	<% if (locals.messages) { %>
		<div class="alert alert-danger">
			<%= messages %>
		</div>
	<% } %>
	<div class="jumbotron">
		<div class="row">
			<div class="offset-md-4 col-md-4">
				<h1 class="page-title">Login to your Account</h1>
				<form method="POST" action="" autocomplete="off" >
					<fieldset class="my-1">
						<label for="username">Username:</label>
						<input type="text" class="form-control"
						name="username" placeholder="Enter username"
						id="username" required autofocus>
					</fieldset>
	
					<fieldset class="my-1">
						<label for="password">Password:</label>
						<input type="password" class="form-control"
						name="password" placeholder="Enter password"
						id="password" required>
					</fieldset>
	
					<fieldset class="my-1 text-right my-3">
						<input type="submit" class="btn btn-success" value="Login">
						<a href="/register" class="btn btn-warning mx-2">Create an Account</a>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</main>