<!-- login content -->
<main>
	<div class="jumbotron">
		<h1 class="page-title">Login to your Account</h1>
		<div>
			<form method="app.get" action="/" >
				<div class="row g-3">
					<div class="col-auto" id="username">
					  <input type="text" class="form-control" placeholder="Username" required>
					</div>
					<div class="col-auto" id="password">
					  <input type="password" class="form-control" placeholder="Password" required>
					</div>
				<div>
					<button class="btn btn-primary" type="submit">Send Message</button>
					<button class="btn btn-primary" type="reset">Clear Form</button>
				</div>
			</form>
		</div>
	</div>
</main>