
<!-- projects content -->
<main>
	<div class="jumbotron">
		<h1 class="page-title">Projects</h1>
		<div class="grid-projects">
			<div class="grid-project">
				<img src="images/project1.png" />
				<div>
					<h3>Bug Smasher</h3>
					<p>
						This project consisted of creating a javascript game that involves the
						player to click on the bugs in order to gain points, the more points
						they get the faster the bugs respawn.
					</p>
				</div>
			</div>
			<div class="grid-project">
				<img src="images/project2.png" />
				<div>
					<h3>Photo Gallery</h3>
					<p>
						This project shows the ability to create a gallery that would
						automatically change pictures at a certain interval, if you were to
						add pictures to the ftp server you could click the "update" button to
						refresh it.
					</p>
				</div>
			</div>
			<div class="grid-project">
				<img src="images/project3.png" />
				<div>
					<h3>Custom Form Validation</h3>
					<p>
						This project shows the ability to duplicate form data into another
						form and also perform a custom validation checker when submitting the
						form.
					</p>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('../partials/footer'); %>