<!-- services content -->
<main>
	<div class="jumbotron">
		<h1 class="page-title">Services</h1>
		<ul class="grid-services">
			<li>
				<span>Computer Building</span>
				<img src="images/computer.jpg" />
			</li>
			<li>
				<span>Keyboard Building</span>
				<img src="images/keyboard.jpg" />
			</li>
			<li>
				<span>C# Coding</span>
				<img src="images/c.png" />
			</li>
			<li>
				<span>Web design</span>
				<img src="images/web.png" />
			</li>
			<li>
				<span>Java Coding</span>
				<img src="images/java.png" />
			</li>
		</ul>
	</div>
</main>
